/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background: url('/assets/kawa.jpg') no-repeat center center fixed;
    background-size: cover;
  }

.rock-text {
    font-size: 40px;
    font-weight: bold;
    color: #20958e; /* 文字色 */
    text-shadow: 
      2px 2px 0 #777, /* 影の効果で岩っぽさを出す */
      -1px -1px 0 #777, 
      1px -1px 0 #777, 
      -1px 1px 0 #777,
      1px 1px 0 #777;
    letter-spacing: 2px; /* 文字間隔 */
  }

.play-sound {
  display: inline-block;
  width: 400px; /* ボタンの幅を指定 */
  height: 100px; /* ボタンの高さを指定 */
  line-height: 100px; /* ボタン内のテキストを縦方向の中心に配置 */
  margin: 10px 0; /* 上下の間隔を設定 */
  padding: 0 20px; /* 左右のパディングを設定 */
  background-color: rgba(20, 187, 87, 0.2); /* ボタンの背景色を透明に近づける */
  font-size: 24px;
  color: blue; /* テキスト色 */
  text-align: center; /* テキストを中央揃えに */
  text-decoration: none; /* 下線を消す */
  border-radius: 5px; /* 角を丸くする */
  transition: background-color 0.3s; /* 背景色の変化を滑らかに */
  box-sizing: border-box; /* paddingとborderをwidthとheightに含める */
}

.play-sound:hover {
  background-color: rgba(0, 187, 87, 0.5); /* ホバー時の背景色を透明に近づける */
}

.container {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  flex-direction: column; /* 子要素を縦方向に配置 */
  align-items: center; /* 縦方向の中央揃え（flex-directionがcolumnの場合） */
  margin-top: 40px; /* 上部からのマージンを追加 */
}